.card {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;

  width: 120px;
  height: 240px;
  padding: 16px;

  background-color: #ffffff;
  color: #333333;
  border-radius: 8px;

  border-width: 1px;
  border-bottom-style: solid;
  border: 1px solid #dcdcdc;

  box-shadow:
    0 0px 0.5px rgb(255 255 255 / 10%),
    0 0.1px 0.3px rgb(255 255 255 / 10%);
}

.card-content {
  display: flex;
  flex: 1;

  margin-top: 10px;
}

.badge {
  position: absolute;
  top: -25px;
  border: 1px solid #50b5ff;
  width: 100%;
  left: 0;
  background: whitesmoke;
  padding: 0px 5px;
}
