#root {
  height: 100%;
  width: 100%;
}

.board {
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.board-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url('./src/assets/grid.svg') repeat;
}

.board-wrapper-window {
  position: absolute;
}

.board-content {
  position: absolute;
  top: 0;
  left: 0;

  padding: 2px 4px;
  background-color: indianred;
  color: white;
}
