.button {
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.button:hover {
    border-color: #646cff;
}
.button:focus,
.button:focus-visible {
    outline: .5px auto #646cff;
}

.button-small {
    font-size: 12px;
    padding: 4px 8px;
}

.button-default {
    font-size: 14px;
    padding: 6px 12px;
}

.button-large {
    font-size: 16px;
    padding: 8px 16px;
}

.button-stretch {
    width: 100%;
}